.App {
  text-align: center;
}

#App-background {
  background-color: #012f54
}

.Header-font-weight {
  font-weight: bold;
}

.Header-font-style {
  color: #014454; 
  font-size: 110%
}

.Header-nav-font {
  color: #014454;
}

.Bills-h3, .Legislators-h3, .Bill-h2 {
  color: #012f54
}

.Bill-section {
  color: #012f54
}

.Legislator-font {
  color: #012f54
}

.Legislator-h2-font {
  opacity: .8
}

.Legislator-col-font {
  font-weight: bold
}

.Legislator-img {
  height: 180px;
}

/* darker blue:  #012f54   #035 */

/* dark blue:  (analogous green #015412  / complementary maroon #541a01)
#014454 #045 darkslategray hsl(191,97,16) rgb(1,68,84)

medium blue:  (analogous green #048219)
#046c82 #078 teal hsl(190,94,26) rgb(4,108,130)

light blue: (analogous green #13b333)
#1394b3 #19b lightseagreen hsl(191,80,38) rgb(19,148,179)

red: (complementary green:  #2ad327 / )
#d32729 #d23 crimson hsl(359,68,49) rgb(211,39,41) */




